# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7, 3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 bandit
        pip install -r requirements.txt
    - name: Lint with flake8
      run: flake8
    - name: Check code security with bandit
      run: bandit -ll .
    - name: Test run
      run: |
        set -e
        python sonic-pi-tool.py --help
        python sonic-pi-tool.py check || true
        python sonic-pi-tool.py --verbose eval 'play 60'
        python sonic-pi-tool.py --verbose osc /foo '"bar"' baz 123 3.14
        python sonic-pi-tool.py stop
